:host {
  display: grid;
  grid-template-columns: auto 1fr;
}

aside {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background-color: var(--dark1);
  padding: 1rem;
  gap: 1rem;
  height: calc(100vh - 2rem);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.body {
  padding: 1rem;
}
