<h1>Register</h1>

<form *ngIf="(invite | async) as invite; else expired" [formGroup]="form" (submit)="submit($event, invite)">
  <p>You've got invited to join dresden.zone. The invite is expiring {{ invite.expire | relativeTime | async }}.</p>

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <label>
    Email:
    <input type="email" formControlName="email">
  </label>
  <label>
    Display Name:
    <input type="text" formControlName="display_name">
  </label>
  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
  <label>
    Repeat Password:
    <input type="password" formControlName="repeat_password">
  </label>
  <input type="submit" [disabled]="!(valid | async)" value="Register">
</form>

<ng-template #expired>
  This invite is invalid.
</ng-template>
